<launch>
    <arg name="name" default="human" />
    <param name="human/person_name" type="string" value="$(arg name)" />

    <include file="$(find human_moveit_config)/launch/demo.launch"/>

    <node name="sensor_calibration" pkg="human_moveit_config" type="sensor_calibration" output="screen" required="true"/>
</launch>
