<?xml version="1.0"?>
<launch>
	<arg name="use_kinect" default="false" />
	<arg name="launch_rviz" default="false" />

	<rosparam command="load" file="$(find human_moveit_config)/tmp/human_length.json" param="human/lengths"/>

	<node pkg="tf" type="static_transform_publisher" name="optitrack_frame_publisher" args="0. 0. 0. 0. 0. 0. 1. world optitrack_frame 100" />

	<include file="$(find human_moveit_config)/launch/demo.launch">
		<arg name="launch_rviz" value="$(arg launch_rviz)"/>
	</include>
	
	<node name="human_tracker" pkg="human_moveit_config" type="human_tracker" output="screen" required="true"/>
</launch>